# Question 5 #Step 1. Import the necessary libraries

In [1]:
import pandas as pd

# Step 2. Import the dataset from this address.

In [2]:
pd.read_excel('C:\\Users\\josep\\Desktop\\Georgian Assignments\\Sem 1\\Data_Programming\\Problem_Set_3\\Chipotle.xlsx')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_excel('C:\\Users\\josep\\Desktop\\Georgian Assignments\\Sem 1\\Data_Programming\\Problem_Set_3\\Chipotle.xlsx')

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Step 5. What is the number of observations in the dataset?

In [11]:
print("The Number of Observations in the Dataset are :",chipo.shape[0])

The Number of Observations in the Dataset are : 4622

# Step 6. What is the number of columns in the dataset?

In [10]:
print("The Number of Columns in the Dataset are :",chipo.shape[1])

The Number of Columns in the Dataset are : 5

# Step 7. Print the name of all the columns.

In [13]:
print("The Name of Columns in the Dataset are :\n \n",chipo.columns.values)

The Name of Columns in the Dataset are :

 ['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

# Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# Step 9. Which was the most-ordered item?

In [18]:
Most_Ordered = chipo.groupby(['item_name']).quantity.sum().sort_values(ascending = False).index[0]

print("The Most Ordered Item as per the Dataset is :",Most_Ordered)

The Most Ordered Item as per the Dataset is : Chicken Bowl

# Step 10. For the most-ordered item, how many items were ordered?

In [23]:
item_quantity = chipo.groupby(['item_name']).agg({'quantity':'sum'})
item_quantity.sort_values(by='quantity', ascending=False)[:1]

              quantity
item_name
Chicken Bowl       761

# Step 11. What was the most ordered item in the choice_description column?

In [25]:
Choice_Desc = chipo.groupby(['choice_description']).agg({'quantity':'sum'})
Choice_Desc.sort_values(by='quantity', ascending=False).head(1)

                    quantity
choice_description
[Diet Coke]              159

# Step 12. How many items were orderd in total?

In [26]:
print("Total Number of Items Ordered are : ",chipo.quantity.sum())

Total Number of Items Ordered are :  4972

# Step 13.

â€¢ Turn the item price into a float

In [27]:
chipo['item_price'] = chipo.item_price.str.slice(1).astype(float)

â€¢ Check the item price type

In [28]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

â€¢ Create a lambda function and change the type of item price

In [32]:
chipo.item_price.apply(lambda x: float(x[1:]))

TypeError: 'float' object is not subscriptable

â€¢ Check the item price type

In [35]:
chipo.item_price.dtypes

dtype('float64')

# Step 14. How much was the revenue for the period in the dataset?

In [39]:
chipo['revenue'] = chipo['quantity']*chipo.item_price
total_revenue = chipo.revenue.sum()
print("The Total Revenue for the Period in the DataSet is :","$",total_revenue)

The Total Revenue for the Period in the DataSet is : $ 39237.02

# Step 15. How many orders were made in the period?

In [41]:
total_order = chipo.order_id.value_counts().count()
print("The Total Orders made during the Period is :",total_order)

The Total Orders made during the Period is : 1834

# Step 16. What is the average revenue amount per order?

In [48]:
Avg_Revenue = total_revenue / total_order
print("The Average Revenue per order is :",Avg_Revenue)

The Average Revenue per order is : 21.39423118865867

# Step 17. How many different items are sold?

In [43]:
print("The Number of Items Sold is :",chipo.item_name.nunique())

The Number of Items Sold is : 50